-form_for(grammar_item) do |f|
  = f.error_messages
  %p
    = f.label :source_description
    %br
    = f.text_field :source_description
  %p
    = f.label :target_description
    %br
    = f.text_field :target_description
  %p
    = f.label :target_phonetics
    %br
    = f.text_field :target_phonetics
  %p
    = f.label :target_language_id
    %br
    = f.text_field :target_language_id
  %p
    = f.label :source_language_id
    %br
    = f.text_field :source_language_id
  %p
    = f.label :odd_association
    %br
    = f.text_area :odd_association
  %p
    = f.label :grammar_category_id
    %br
    = f.text_field :grammar_category_id
  %p
    = f.label :parent_id
    %br
    = f.text_field :parent_id
  %p
    = f.label :importance
    %br
    = f.text_field :importance

  %p
    = f.submit 'Update'

